body{
  background-color: #900C3F;
  color: #FF5733;
  font-family: sans-serif;
}
div{
  text-align: center;
}
h1 {
  color: #FFC300
}
div{
  text-align: center;
}
img {

width: 90px;

height: 90px;

float: left;

}
button{
  margin-bottom: 10px;
}
input{
  margin: 5px;
}
#postFullName{
  color: #900C3F;
}

#postAge{
text-align: left;
color: white;
margin: 0;
}
#postPhoneNumber{
  text-align: left;
  color: white;
  margin: 0;
}
#postAddress{
  text-align: left;
  color: #FFFFFF;
  margin: 0;

}

#idCard {
margin: 0 auto;
border: 5px solid white;

height: 14em;

width: 25em;

background-color: #FFC300
}
